/* src/styles/pages/home.css */

/* Hero section */
.hero {
	background-color: var(--color-bg-dark);
	padding: var(--space-4) 0;
	border-bottom: 1px solid #d8d8d8;
}

.hero .ho-heading-xl,
.hero .ho-body-l {
	color: var(--color-text-light);
}

.hero__container {
	width: 100%;
	padding: 0 var(--space-3);
}

/* Custom emphasis for the "CAFYP" part of the heading */
.hero .cafyp-emphasis {
	color: #f26835;
	font-weight: bold;
	font-size: 220%;
	font-family: 'Gloria Hallelujah', cursive;
}
