/* src/styles/components/footer.css */

/* Footer component */
.ho-footer {
	background-color: var(--color-bg-alt);
	padding: var(--space-4) 0;
	border-top: 1px solid #d8d8d8;
}

.ho-footer__meta {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--space-3);
}

.ho-footer__meta-item {
	margin-right: 0;
	margin-bottom: var(--space-3);
}

.ho-footer__inline-list {
	list-style: none;
	margin: 0 0 var(--space-3) 0;
	padding: 0;
}

.ho-footer__inline-list-item {
	display: block;
	margin-right: 0;
	margin-bottom: var(--space-2);
}

.ho-footer__link {
	color: var(--color-blue-dark);
	display: block;
	padding: var(--space-1) 0;
}
