/* src/styles/components/lists.css */

/* Lists */
.ho-list {
	margin-bottom: var(--space-3);
	padding-left: var(--space-3);
}

.ho-list--bullet {
	list-style-type: disc;
}

.ho-list li {
	margin-bottom: var(--space-1);
}
